<div class="whole">
  <div class="top">
    <img src="../../../assets/img/back.png">
    <span>编辑商品</span>
  </div>
  <div class="commodity_info">
    <div class="commodity_name">
      <span>商品名称</span>
      <div class="commodity_name_back">
        <input type="text"/>
        <img src="../../../assets/img/deleteButton.png"/>
      </div>
    </div>
    <div class="choice_attribute">
      <span>选择属性</span>
      <div class="choice_attribute_back">
        <select>
          <option value="zt">中通</option>
          <option value="yt">圆通</option>
        </select>
        <img src="../../../assets/img/down_arrow.png"/>
      </div>
    </div>
    <div class="logistics_company">
      <span>物流公司</span>
      <div class="logistics_companye_back">
        <select>
          <option value="zt">中通</option>
          <option value="yt">圆通</option>
        </select>
        <img src="../../../assets/img/down_arrow.png"/>
      </div>
    </div>
    <div class="postage">
      <span>邮费</span>
      <div class="postage_back">
        <input type="text"/>
        <img src="../../../assets/img/deleteButton.png"/>
      </div>
    </div>
  </div>
  <div class="commodity_img">
    <span class="picture_hint">商品图片(最多添加6张图片，第一张图片为列表图)</span>
    <div class="first_line_img">
      <div class="Listing_diagram">
        <img src="../../../assets/img/merchantssettled_banner.png" class="list_img"/>
        <img src="../../../assets/img/cancel.png" class="cancel_img"/>
      </div>
      <div class="commodity_pictures">
        <img src="../../../assets/img/merchantssettled_banner.png" class="list_img"/>
        <img src="../../../assets/img/cancel.png" class="cancel_img"/>
      </div>
    </div>
    <div class="Second_elements">
      <div class="add_commodity_img">
        <img src="../../../assets/img/add_img.png" />
        <span>添加图片</span>
      </div>
    </div>
  </div>
  <div class="commodity_introduction">
    <span>商品介绍</span>
    <img src="../../../assets/img/edit.png" class="edit_img"/>
    <textarea></textarea>
  </div>
  <div class="bottom">
    <button class="confirm_btn">确认上架</button>
  </div>

</div>
