<!--修改时间：2017.8.16-->
<!--内容：附近商家-搜索商家-->
<!--谭名扬-->
<div class="whole">
  <div class="top">
    <img src="../../assets/img/return_left.png" class="return_left"/>
    <div class="search_right">
      <img src="http://127.0.0.1:4200/assets/img/query.png" class="query_img">
      <span class="search_text">请输入商家名称</span>
      <div class="search_button"><span>搜索</span></div>
    </div>
  </div>
  <div class="business_item">
    <img src="../../../../assets/img/merchantssettled_banner.png" class="business_img"/>
    <div class="business_info">
      <p class="shop_name">重庆<span>老火锅</span>(二郎店)</p>
      <p class="shop_distance">距离您有<span>174米</span></p>
    </div>
    <img src="../../../../assets/img/right_jump.png" class="right_img"/>
  </div>
  <div class="business_item">
    <div class="business_content">
      <img src="../../../../assets/img/merchantssettled_banner.png" class="business_img"/>
      <div class="business_info">
        <span class="shop_name">重庆<span>老火锅</span>(二郎店)</span>
        <p class="shop_distance">距离您有<span>174米</span></p>
      </div>
      <img src="../../../../assets/img/right_jump.png" class="right_img"/>
    </div>
  </div>
</div>




