<div class="divHome">
  <div class="div1">斯伯特酒店</div>
  <div class="div2">
    <label class="Product">商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;品</label>
    <label class="ProductDetail1">江小白青春版45度一斤装x8</label>
    <label class="ProductDetail2">等5件商品</label>
  </div>
  <div class="div3">
    <label class="lb1">订&nbsp;&nbsp;单&nbsp;&nbsp;号</label>
    <label class="lb2">支付方式</label>
    <label class="lb3">当前状态</label>
    <label class="lb1Detail">12345678987623456</label>
    <label class="lb2Detail">会员卡支付</label>
    <label class="lb3Detail">支付成功</label>
  </div>
  <div class="div4">
    <label class="PayMoney">支付金额</label>
    <label class="PayMoneyDetail">5000元</label>
  </div>
  <div class="div5">
    <label class="ServePhone">客服电话</label>
    <label class="ServePhoneDetail">400-000-0000</label>
  </div>
</div>
