
<div>
  <div class="col-xs-12 Logo_tlie">
    <img class="Logo col-xs-2" src="../../../assets/img/logo.png">
    <h2 class="Title col-xs-10">西充富众农民专业合作社联合社</h2>
  </div>
  <p class="p1 col-lg-12">西充县富众农民专业合作社联合社是本地多家龙头企业于2015年10月联合发起成立，注册资金1000万元，业务涵盖电子商务、农产品购销、种植(养殖)、农机(农技)服务、连锁超市等。本社秉承“互助、合作、发展、共赢”的宗旨，以农业生产为基础，以联合发展为核心，以助农增收为目标，大力构建“互联网+农业”体系。现有莲子、柑橘、竹笋、红薯、大豆种植基地2000多亩，生态土鸡养殖基地近300亩。富众联合社立足于整合社会资源，降低经营成本,形成发展合力, 计划利用3年时间在全县整体流转20个贫困村，建立线下乡镇电商服务中心，实现44个乡镇全覆盖，努力把本社建成集规模农业、智慧农业、农村金融、搭建农村电子商务平台，整合乡村物流打通农产品进城，工业品下乡的通路、实现农产品线上线下销售及其它便民服务为一体的综合服务平台。</p>
</div>
