
<div class="whole">
  <div class="top">
    <span class="whole_commodity">全部商品</span>
    <img src="../../../assets/img/addto.png"/>
    <samp class="add_commodity">添加商品</samp>
  </div>
  <div class="top_spacing"></div>
  <div class="commodity_item">
    <div class="item_content">
      <img src="../../../../assets/img/merchantssettled_banner.png" class="commodity_img"/>
      <div class="commodity_content">
        <p class="commodity_name">【商品】</p>
        <p class="commodity_address">重庆<span>【支持邮寄】</span></p>
        <p class="commodity_price">￥<span class="price_symbol">89.9</span></p>
      </div>
    </div>
    <div class="item_content">
      <img src="../../../../assets/img/merchantssettled_banner.png" class="commodity_img"/>
      <div class="commodity_content">
        <p class="commodity_name">【商品】</p>
        <p class="commodity_address">重庆<span>【支持邮寄】</span></p>
        <p class="commodity_price">￥<span class="price_symbol">89.9</span></p>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="shop_img">
      <img src="../../../assets/img/shop1.png">
    </div>
    <div class="commodity_istration">商品管理</div>
    <div class="receivables">收&nbsp;款</div>
    <div class="my_shop">我的店铺</div>
  </div>
</div>
