<div class="container-fluid mymembershipcard">
  <div class="row">
    <div class="col-xs-12 mymembershipcard_bor">
      <div class="col-xs-8 mymembershipcard_kahao">会员卡号: <span>1234567890</span> </div>
      <div class="col-xs-4 mymembershipcard_yuer">余额: <span>500.00</span>元</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 mymembershipcard_bor">
      <div class="col-xs-8 mymembershipcard_kahao">会员卡号: <span>1234567891</span> </div>
      <div class="col-xs-4 mymembershipcard_yuer">余额: <span>500.00</span>元</div>
    </div>
  </div>
</div>
<div class="container-fluid mymembershipcard_sz">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12 mymembershipcard_yuer_s">添加新的会员卡</div>
    </div>
  </div>
</div>
