<div class="list">
  <div class="tradename">
    <div class="col-xs-12 tradename_div">
      <div class="col-xs-4">
        <div class="tradename_img">
          <img src="http://temp.im/80x80/4CD964/fff" alt="">
        </div>
      </div>
      <div class="col-xs-8 tradenamdiv">
        <div class="tradenamep">
          <p class="tradenamep_p1">[商超系统]进口海飞丝水阿打算打打打阿斯顿ad</p>
          <p class="tradenamep_p2">重庆[支持包邮]</p>
          <p class="tradenamep_p3"><span>￥290.90</span></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="tradenamea">
    <div class="col-xs-12 tradename_div">
      <div class="col-xs-4">
        <div class="tradename_img">
          <img src="http://temp.im/80x80/4CD964/fff" alt="">
        </div>
      </div>
      <div class="col-xs-8 tradenamdiv">
        <div class="tradenamep">
          <p class="tradenamep_p1">[商超系统]进口海飞丝水阿打算打打打阿斯顿ad</p>
          <p class="tradenamep_p2">重庆[支持包邮]</p>
          <p class="tradenamep_p3"><span>￥290.90</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

