<div class="whole">
  <div class="merchant_name">
    <img src="../../../assets/img/NAME.png" class="merchant_name_img"/>
    <input type="text" placeholder="法人姓名">
    <img srcset="../../../assets/img/deleteButton.png" class="delete_img"/>
  </div>
  <div class="business_phone">
    <img src="../../../assets/img/phoneNum.png" class="merchant_name_img"/>
    <input type="text" placeholder="请输入联系电话">
    <img srcset="../../../assets/img/deleteButton.png" class="delete_img"/>
  </div>
  <div class="business_name">
    <img src="../../../assets/img/business.png" class="merchant_name_img"/>
    <input type="text" placeholder="商家名称">
    <img srcset="../../../assets/img/deleteButton.png" class="delete_img"/>
  </div>
  <button class="submitapply_btn">提交申请</button>
</div>
