<div style="" class="layer_z">
  <div class="layer">
    <div class="layer_a col-xs-12" >
      <div class="col-xs-5">
        <div class="lays_img">
          <img src="http://temp.im/80x80/4CD964/fff" alt="">
        </div>
      </div>
      <div class="col-xs-5">
        <div class="lays_jes">
          重庆市至和便利店1111sssssssss
        </div>
        <div class="lays_jesa">
            ￥1000
        </div>
      </div>
      <div class="col-xs-2">
        <div class="lays_gb">
        </div>
      </div>
      <div class="col-xs-12 lays_shuju">
        <div class="col-xs-6">
          <div class="lays_goumai">购买数量</div>
        </div>
        <div class="col-xs-6">
          <div class="lays_jiajian">
            <span class="jia">-</span>
            <span class="shuliang">1</span>
            <span class="jian">+</span>
          </div>
        </div>
      </div>
    </div>
   
    <div class="col-xs-12 layer_qx">
      确&nbsp;&nbsp;&nbsp;&nbsp;定
    </div>
    
  </div>
</div>
