<div class="row pro-list">
  <div class="col-xs-3 pro-img"><img src="../../../assets/img/pro.jpg" alt=""></div>
  <dl class="col-xs-6 pro-info">
    <dt>[商超联盟]海飞丝细致美水润秀发洗发水 250ml</dt>
    <dd class="pro-time">时间:<span>2017-05-07</span></dd>
    <dd>数量:<span>2</span></dd>
    <dd>总价:<span>￥29.90</span></dd>
  </dl>
  <div class="col-xs-3 pro-status">待付款</div>
</div>
<div class="container-fluid express">
  <div class="col-xs-12 express-info">
    <div class="text-right">
      圆通快递: <span class="ex-code">124512521203</span>
    </div>
  </div>
</div>
<div class="container-fluid ordercount">
  <div class="col-xs-12 order-info ">
    <div class="text-right">共一件商品<em class="or-count">合计：</em><em class="price"><i>￥</i>29</em><i>.90</i> (含运费10.00)</div>
  </div>
</div>
<div  class="container-fluid express-btn">
  <button class="btn btn-lg ex-confirm" type="button">确认收货</button>
</div>
