<section>
  <div class="imgBox">
    <div class="imgBoxBorder">
      <img src="../../../assets/img/person.png">
    </div>
    <p class="user-name">习近平</p>
    <p class="user-tel">
      <img src="../../../assets/img/shouji.png">
      <span style="display: inline-block; vertical-align:middle;">15888888888</span>
    </p>
  </div>
  
  <div class="business-option">
    
    <div class="option-one clear">
      <img src="../../../assets/img/store3.png">
      店铺详情
      <span >
        <img class="pic_right" src="../../../assets/img/youxz.png">
      </span>
    </div>
    
    <div class="option-one clear">
      <img src="../../../assets/img/MERCHANT%20CENTER_SETTLEMENT.png">
      结算管理
      <span >
        <img class="pic_right" src="../../../assets/img/youxz.png">
      </span>
    </div>
    
    <div class="option-one clear finally-option">
      <img src="../../../assets/img/MERCHANT%20CENTER_%20MAIL.png">
      邮寄订单
      <span >
        <img class="pic_right" src="../../../assets/img/youxz.png">
      </span>
    </div>
  </div>
  
  <!--<div class="business-center-bottom">-->
  <!--<button><img src="../../../assets/img/SHOP.png"></button>-->
  <div class="bottom">
    <div class="shop_img">
      <img src="../../../assets/img/shop1.png">
    </div>
    <div class="commodity_istration">商品管理</div>
    <div class="receivables">收&nbsp;款</div>
    <div class="my_shop">我的店铺</div>
  
  </div>
  <!--</div>-->
</section>

