<div class="divHome">
  <div class="MidDiv">
    <div class="div1">
      <label class="label1">选择会员卡</label>
      <img src="../../../assets/img/guanbi_a.png" class="deleteBtn" />
    </div>
    <div class="div2">
      <div class="card1DIv">201709888
        <img src="../../../assets/img/pay_select.png" class="card1Btn" />
      </div>
      <div class="card2DIv">354895875
        <img src="../../../assets/img/pay_noselect.png" class="card2Btn" />
      </div>
    </div>
    <div class="div3">添加新的会员卡</div>
  </div>
</div>

