<section>
  <div class="doorplate">
    <span>我的门牌</span>
    <img src="../../../../assets/img/my-son.png">
  </div>
  
  <div class="data-list">
    <div class="merchant-name">
      <label for="merchant-name">商家名称：</label>
      <input type="text" name="sex" id="merchant-name" />
    </div>
    
    <div class="merchant-name">
      <label for="merchant-name">法人姓名：</label>
      <input type="text" name="sex" id="" />
    </div>
    
    <div class="merchant-name">
      <label for="merchant-name">店铺电话：</label>
      <input type="text" name="sex" id="" />
    </div>
    
    <div class="merchant-name">
      <label for="merchant-name">我的折扣：</label>
      <input type="text" name="sex" id="" />
    </div>
    
    <div class="merchant-name" id="bank-card">
      <label for="merchant-name">银行卡号：</label>
      <input type="text" name="sex" id="" />
    </div>
  
  </div>
  
  <div class="business-license">
    <p>我的营业执照：</p>
    <div>
      <img src="../../../../assets/img/my-son.png">
    </div>
  </div>
</section>

<!--商家信息-->
