.searchbox{
  height: 1.6rem;
  background-color: #EBECED;
  padding-top: 0.267rem;
}

.searchbox_div>div{
  padding: 0;
}
.searchbox_div_tb{
  height: 0.48rem;
  width: 0.48rem;
  line-height: 1.066rem;
}
.searchbox_div_tb img{
  width: 100%;
  height: 100%;
}

.searchbox_input input{
  width: 100%;
  height: 1.066rem;
  padding-left: 0.5rem;
  color: #111111;
  font-size: 0.453rem; ;
}
.searchbox_sousuo{
  height: 1.066rem;
  line-height: 1.066rem;
 
  background-color: #06c1ae;
  color: #ffffff;
  text-align: center;
  font-size: 0.426rem;
}
