<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div class="top">
    <div class="top_center">
      <img class="shop_logo"/>
      <div class="shop_information">
        <span class="shop_name">龙哥撒飞洒发噶</span>
        <span class="shop_distance">距离你有</span>
      </div>
    </div>
  </div>
  <div class="information">
    <div class="boss_name_whole">
      <span class="boss_name">老板姓名:</span>
      <span class="name">张三</span>
    </div>
    <div class="shop_phone_whole">
      <span class="boss_name">店铺电话:</span>
      <span class="name">110</span>
    </div>
  </div>
  <div class="share">
    <span class="share_text">分享给好友</span>
    <img src="http://127.0.0.1:4200/assets/img/jump_right.png"/>
  </div>
  <div class="navigation">
    <span class="share_text">导航去店</span>
    <img src="http://127.0.0.1:4200/assets/img/jump_right.png"/>
  </div>
  <img class="minimap_img"/>
  <div class="location">
    <img src="http://127.0.0.1:4200/assets/img/ADDRESS.png" class="address_img"/>
    <span>撒大声地</span>
  </div>
  <!--<input type="button" (input)="dotype()"/>-->
  <!--<input type="text" ngModel="name"/>-->
</body>
</html>
