.setpassword{
  background-color: #EBEBEB;
  padding: 3.093rem 0 0 0 ;
}
.setpassword_content{
  height: 2.987rem;
  border-radius: 0.267rem;
  background-color: #ffffff;
  padding: 0 0.17rem;
  text-align: center;
  margin-bottom: 2.613rem;
  
}
.setpassword_content_p,.setpassword_content_p2{
  height: 1.4935rem;
  line-height: 1.4935rem;
  margin: 0;
  font-size: 0.48rem;
  color: #111111;
  
}
.setpassword_content_p2{
  border-top: 0.0133rem solid #bfbfbf;
  color: #ff7400;
}
.ensure{
  width: 4rem;
  height: 1.147rem;
  line-height: 1.147rem;
  color: #ffffff;
  font-size: 0.48rem;
  text-align: center;
  border-radius: 0.133rem;
  background-color: #06C1AE;
  margin: 0 auto !important;
  box-shadow: 0.053rem 0.173rem 0.36rem #170808;
  border: 0.013rem solid #00bda2;
}

