<div class="div1">
  <div class="navDiv">
    <img class="backBtn" src="../../../assets/img/back.png" />
    会员卡收款
  </div>
  <input  class="cardId" maxlength="14" type="text" placeholder = "收款金额" value="cardNum" />
  <img class="cardNumImg" src="../../../assets/img/cardNum.png" />
  <img  class="deletBtnImg" src="../../../assets/img/deleteButton.png" />
  <input class="password"  type="text" maxlength="11" placeholder= "卡号" value="" />
  <img class="cardPwImg" src="../../../assets/img/balance.png" />
  <label class="menberInfo">会员信息 : 李四</label>
  <label class="phoneNum">18700913337</label>
  <p class="p2">注 : 下一步请交由会员自己输入密码</p>
  <input class="confirmBtn" type="button" value="下&nbsp;一&nbsp;步"/>
</div>
