
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 cash_com">
      <div class="cash">余额: ￥<span>500.00</span>元</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 cash_com_a">
      <div class="col-xs-4">
        <div class="cash_sj">2017-07-15</div>
      </div>
      <div class="col-xs-5">
        <div class="cash_neixing">充值</div>
      </div>
      <div class="col-xs-3">
        <div class="cash_jiner"><span>+500.00</span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 cash_com_a">
      <div class="col-xs-4">
        <div class="cash_sj">2017-07-15</div>
      </div>
      <div class="col-xs-5">
        <div class="cash_neixing">充值</div>
      </div>
      <div class="col-xs-3">
        <div class="cash_jiner"><span>+500.00</span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 cash_com_a">
      <div class="col-xs-4">
        <div class="cash_sj">2017-07-15</div>
      </div>
      <div class="col-xs-5">
        <div class="cash_neixing">充值</div>
      </div>
      <div class="col-xs-3">
        <div class="cash_jiner"><span>+500.00</span></div>
      </div>
    </div>
  </div>
</div>
