<div class="div0">
  <div class="title">余额账户(元)</div>
  <div class="money">800.00</div>
</div>
<div class="div1">
  <input  class="cardId"  type="text" maxlength="12"  value="cardNum"/>
  <img class="cardNumImg" src="../../../assets/img/CardMember.png" />
  <img  class="deletBtnImg" src="../../../assets/img/pay_pullDown.png" />
  <input class="password"  type="password" />
  <img class="cardPwImg" src="http://127.0.0.1:4200/assets/img/Password.png" />
  <p class="p1">注:<br /><br />1.如果您已经设置过了密码;<br /><br />2.如果没有设置密码可不输入密码<br /></p>
  <input  class="bindingBtn" type="button" value="付&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;款"/>
</div>
