
<div>
  <div class="container-fluid arrive_a">
    <div class="row">
      <div class="col-xs-12 arrive">
        <div class="col-xs-1">
          <div class="arrive_img">
            <img src="../../../assets/img/SHOP.png" alt="">
          </div>
        </div>
        <div class="col-xs-11 arrive_text">重庆小面</div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid arrive_b">
    <div class="row">
      <div class="col-xs-12 arrive_xiangq">
        <div class="col-xs-3">
          <div class="arrivea_img">
            <img src="../../../assets/img/SHOP.png" alt="">
          </div>
        </div>
        <div class="col-xs-7 arrive_texta">
          <div>[商超联盟]海飞丝细致美水润秀发洗发水205ml</div>
          <div class="arrive_text">下单时间：<span>2017-05-07</span></div>
          <div class="arrive_text">数量；<span>2</span> </div>
          <div class="arrive_text">总价: <span>￥29.90</span> </div>
        </div>
        <div class="col-xs-2 arrive_text text-right">交易成功</div>
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid arrive_c">
    <div class="row">
      <div class="col-xs-12 arriveheji">
        <div class="text-right arriveheji_ad">合计：￥<span>58.90</span></div>
      </div>
      <div class="col-xs-12 arriveheji qf arriveheji_a">
        <div class="text-right arriveheji_remov fr">删除订单</div>
      </div>
    </div>
  </div>
</div>
<app-delete></app-delete>
