<div class="list">
  <div class="tradename">
    <div class="col-xs-12 tradename_div">
      <div class="col-xs-3">
        <div class="tradename_img">
          <img src="http://temp.im/80x80/4CD964/fff" alt="">
        </div>
      </div>
      <div class="col-xs-9 tradenamdiv">
        <div class="tradenamep">
          <p class="tradenamep_p1">重庆市至和便利店（二郎店）</p>
          <p class="tradenamep_p2">距离您<span>274米</span></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="tradenamea">
    <div class="col-xs-12 tradename_div">
      <div class="col-xs-3">
        <div class="tradename_img">
          <img src="http://temp.im/80x80/4CD964/fff" alt="">
        </div>
      </div>
      <div class="col-xs-9 tradenamdiv">
        <div class="tradenamep">
          <p class="tradenamep_p1">重庆市至和便利店（二郎店）</p>
          <p class="tradenamep_p2">距离您<span>274米</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
