.div1{
  background: #ebebeb;
  /*747,1205px 23.34em,37.65em*/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}
.navDiv {
  width: 100%;
  height: 1.173rem;
  line-height: 1.173rem;
  background-color: #06C1AE;
  text-align: center;
  color: #ffffff;
  font-size: 0.453rem;
  font-family: arial,"MicrosoftYaHei";
  position: relative;
}
.MemberCardNum {
  left: 0.4rem;
  position: absolute;
  font-size: 0.4rem;
}
.divHead {
  margin-top: 0.267rem;
  position: absolute;
  width: 100%;
  height: 3.013rem;
  background-color: white;
}
.title {
  top: 0.533rem;
  left: 0.7rem;
  position: absolute;
  font-size: 0.4rem;
}
.Money {
  top: 1.26rem;
  left: 0.4rem;
  position: absolute;
  font-size: 1.2rem;
  color: #06C1AE;
}
.pwdLb {
  left: 0.7rem;
  top: 5.2rem;
  position: absolute;
  font-size: 0.4rem;
}
.pwdInput {
  position: absolute;
  top: 6rem;
  left: 0.7rem;
  width: 8.55rem;
  height: 1.147rem;
  border: 0.013rem solid #d1d1d1;
  font-size: 0.4rem;
}
.describeLb {
  position: absolute;
  top: 13.527rem;
  font-size: 0.32rem;
  left: 1.8rem;
}
.payBtn {
  height: 1.147rem;
  width: 9.467rem;
  left: 0.267rem;
  position: absolute;
  top: 14.333rem;
  background: #06C1AE;
  color: white;
  font-size: 0.48rem;
  border-radius: 0.133rem;
}
