.register{
  /*// height:1.226rem;*/
  background-color: #EBEBEB;
  padding: 1.546rem 0 0 0 ;
}

.register_name>input,.register_phoe>input{
  height: 1.227rem;
  color: #4a4a4a;
  width: 100%;
  
  
}
.register_name>input{
  background:url("../../../assets/img/VIP.png") no-repeat left center;
  background-size: 0.48rem 0.48rem;
  background-position: 0.510rem;
  padding-left: 1.64rem;
  background-color: #ffffff;
  margin-bottom: 0.4rem;
  border-radius: 0.08rem;
  
}
.register_phoe>input{
  background:url("../../../assets/img/PUBLIC SIGNAL_lock.png") no-repeat left center;
  background-size: 0.48rem 0.48rem;
  background-position: 0.510rem;
  padding-left: 1.64rem;
  background-color: #ffffff;
  margin-bottom: 0 !important;
}

.ensure{
  width: 4rem;
  height: 1.147rem;
  line-height: 1.147rem;
  color: #ffffff;
  font-size: 0.48rem;
  text-align: center;
  border-radius: 0.133rem;
  background-color: #06C1AE;
  margin: 0 auto !important;
  box-shadow: 0.053rem 0.173rem 0.36rem #170808;
  border: 0.013rem solid #00bda2;
}
.setpassword_content{
  height: 2.373rem;
  border-radius: 0.08rem;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 2.613rem;
  
}

.setpassword_content_p2{
  border-top: 0.0133rem solid #bfbfbf;
  color: #ff7400;
}
