
<div class="container register">
  <div class="register_name col-xs-12" >
    <input #card  type="text" placeholder="您的会员卡号">
  </div>
  <div class="col-xs-12 ">
    <div class="setpassword_content">
      <div class="register_phoe ">
        <input #password type="text" placeholder="密码">
      </div>
      <div class="register_phoe setpassword_content_p2">
        <input #passwords type="text" placeholder="确认密码">
      </div>
    </div>
  
  </div>
</div>

<div class="col-lg-12">
  <p (click)="skip(card.value,password.value,passwords.value)" class="ensure">确&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;定</p>
</div>
<nz-demo-spin-tip *ngIf="loadingoff"></nz-demo-spin-tip>

