<!--<section class="no-data">-->
<!--<img src="../../../../../assets/img/no-list.png">-->
<!--</section>-->
<section>
  <div ngFor="let item of list">
    <div class="list-demo">
      <div class="goods-detail qf">
        <img class="goods-face" src="../../../../../assets/img/my-son.png">
        <div class="goods-intro">
          <p id="p1">那算了空间登录发髻施蒂利克放假啊录蒂利克放假啊</p>
          <p>时间：<span>2017-05-07</span></p>
          <p>数量：<span>999</span></p>
          <p>总价：<span>¥582.50</span></p>
        </div>
        <p class="pay-state">待付款</p>
      </div>
      <div class="goods-price">
        <div class="goods-price-box">
          <span>共计22件商品</span>
          <span>合计：
              <strong id="price">¥582.50</strong>
            </span>
          <span>(含运费10.00)</span>
        </div>
      </div>
    </div>
  </div>
</section>
