<div style="" class="layer_z">
  <div class="layer_a">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="site_sh">请选择收货地址</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 ">
          <div class="selesite">
            <div class="col-xs-2">
              <div class="selesite_img_tb">
                <input type="radio">
              </div>
            </div>
            <div class="col-xs-8">
              <div class="qf selesite_name">
                <span class="fl">丰顺</span> <span class="fr">13112299949</span>
              </div>
              <div class="selesite_dz_a">
                重庆市九龙坡区二郎留学生创业园D3-7
              </div>
            </div>
            <div class="col-xs-2 selesite_rq">
              <div class="selesite_bj">
              </div>
              <div class="selesite_sc">
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-xs-12 site_sh_sac_div">
          <p class="site_sh_sac col-xs-10">新增收货地址</p>
          <p class="site_sh_sac_a col-xs-2"></p>
        </div>
      </div>
    
    </div>
  </div>

</div>


