<div class="col-xs-12">
  <div class="commodit">
    <div class="col-xs-9">哑巴理发</div>
    <div class="col-xs-3 setcommodit">切换商家</div>
  </div>
</div>
<div class="commoditimg">
  <img src="http://temp.im/100x100/4CD964/fff" alt="">
</div>
<div class="col-xs-12 commodits_zhuti">
  <div class="col-xs-12 commodits_ez qf">
    <div class="commodits">
      <div class="col-xs-8 commodits_commodits">[商超系统]进口海飞丝水阿打算打打打阿斯顿ad</div>
      <div class="col-xs-12">
        <div class="col-xs-6 commodits_jg">￥2.55</div>
        <div class="col-xs-6 qf">
          <div class="commodits_baoyou fr">支持邮寄</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 commodits_youfei">
    <div class="">
      邮费:免运费
    </div>
  </div>
  
  <div class="col-xs-12 commodits_dianpu">
    <div class="tradenamea">
      <div class="col-xs-12 tradename_div">
        <div class="col-xs-3">
          <div class="tradename_img">
            <img src="http://temp.im/80x80/4CD964/fff" alt="">
          </div>
        </div>
        <div class="col-xs-5 tradenamdiv">
          <div class="tradenamep">
            <p class="tradenamep_p1">哑巴洗车</p>
            <p class="tradenamep_p2">西充县人民医院<span>274米</span></p>
          </div>
        </div>
        <div class="col-xs-4 tradenamdiv">
          <div class="tradenamep col-xs-12">
            <div class="tradenamep_div1 col-xs-12">进入店铺</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-xs-12 commodits_dianpus">
    商品介绍
  </div>
  <div class="col-xs-12 commodits_chanshua">
    <p class="commodits_chanshu">产品参数</p>
    <div class="col-xs-12 commodits_xiangqing">
      <div class="col-xs-6 text-right">产品名称:</div>
      <div class="col-xs-6 text-left commodits_cs_mr">海飞丝去屑洗发露</div>
    </div>
    <div class="col-xs-12 commodits_xiangqing">
      <div class="col-xs-6 text-right">产品名称: </div>
      <div class="col-xs-6 text-left commodits_cs_mr">海飞丝去屑洗发露</div>
    </div>
    <div class="col-xs-12 commodits_xiangqing">
      <div class="col-xs-6 text-right">产品名称: </div>
      <div class="col-xs-6 text-left commodits_cs_mr">海飞丝去屑洗发露</div>
    </div>
    <div class="col-xs-12 commodits_xiangqing">
      <div class="col-xs-6 text-right">产品名称: </div>
      <div class="col-xs-6 text-left commodits_cs_mr">海飞丝去屑洗发露</div>
    </div>
    <div class="col-xs-12 commodits_xiangqing">
      <div class="col-xs-6 text-right">产品名称: </div>
      <div class="col-xs-6 text-left commodits_cs_mr">海飞丝去屑洗发露</div>
    </div>
    <div class="col-xs-12 commodits_xiangqing">
      <div class="col-xs-6 text-right">产品名称: </div>
      <div class="col-xs-6 text-left commodits_cs_mr">海飞丝去屑洗发露</div>
    </div>
  </div>
  
  <div class="col-xs-12 commodits_goumai">
    <div class="">
      <div class="col-xs-6">
        <div>
          ￥29.9
        </div>
        
      </div>
      <div class="col-xs-6 commodits_ljgmaa">
        <div class="commodits_ljgm">
          立即购买
        </div>
  
      </div>
    </div>
  </div>
  
</div>


