<!--提交订单-->

<div class="col-xs-12 submtorder_tubiao_div">
  <div>
    <div class="submtorder_tubiao">新建收货地址</div>
  </div>
</div>

  <div class="col-xs-12 submtordershangp">
    <div class="layer_a col-xs-12" >
      <div class="col-xs-4">
        <div class="lays_img">
          <img src="http://temp.im/80x80/4CD964/fff" alt="">
        </div>
      </div>
      <div class="col-xs-8">
        <div class="lays_jes">
          重庆市至和便利店1111sssssssss
        </div>
        <div class="lays_jesa">
          ￥1000
        </div>
      </div>
    </div>
  </div>



  <div class="col-xs-12 submtorderpeis">
   <div class="col-xs-6 text-left">配送方式：<span class="submtorderpeis_span">商家配送</span> </div>
    <div class="col-xs-6 text-right"> <span class="submtorderpeis_span">运费 ￥00.00</span></div>
  </div>
<div class="col-xs-12 lays_shuju">
  <div class="col-xs-6">
    <div class="lays_goumai">购买数量</div>
  </div>
  <div class="col-xs-6 text-right">
    <div class="lays_jiajian">
      <span class="jia">-</span>
      <span class="shuliang">2</span>
      <span class="jian">+</span>
    </div>
  </div>
</div>
<div class="col-xs-12 submtorderpeis">
  <div class="col-xs-6 text-left">金额: </div>
  <div class="col-xs-6 text-right"><span class="submtorderpeis_san"> ￥58.9</span></div>
</div>
<div class="submtordertijiao_a">
  <div class="">
    <div class="submtordertijiao">
      提交订单
    </div>
   
  </div>
</div>
