/*section {*/
/*background: url("../../../../../assets/img/no-list.png") no-repeat center;*/
/*background-size: 3.333rem 3.333rem;*/
/*}*/
section {
  background-color: #ebebeb;
  /*padding-top: 0.253rem;*/
}
.no-data {
  text-align: center;
}
.no-data img {
  display: inline-block;
  vertical-align: middle;
  margin-top: 2.88rem;
}
.set-bgc {
  background-color: #ebebeb;
}
.list-demo {
  height: 5.813rem;
  padding-top: 0.253rem;
  /*background-color: #ffffee;*/
}
.goods-detail {
  height: 3.2rem;
  background-color: #ffffff;
  border: 1px solid #c5c3c3;
  box-sizing: border-box;
  letter-spacing: 1px;
  padding-right: 0.267rem;
}
.goods-face {
  display: inline-block;
  width: 2.026rem;
  margin-top: 0.533rem;
  margin-left: 0.24rem;
  float: left;
}
.goods-intro {
  width: 5.8rem;
  margin-top: 0.467rem;
  margin-left: 0.293rem;
  float: left;
  padding-right: 0.387rem;
}
.goods-intro p {
  color: #999999;
  font-size: 0.32rem;
  line-height: 0.48rem;
}
#p1 {
  line-height: 0.48rem;
  color: #111111;
  font-size: 0.347rem;
  margin-bottom: 0.133rem;
}
.pay-state {
  margin-top: 0.507rem;
  font-size: 0.293rem;
  color: #06c1ae;
  float: right;
}
.goods-price {
  height: 2.12rem;
  line-height: 2.12rem;
  background-color: #ffffff;
  margin-top: 0.24rem;
  border: 1px solid #c5c3c3;
  box-sizing: border-box;
  font-size: 0.293rem;
}
.goods-price-box {
  width: 100%;
  height: 1.053rem;
  line-height: 1.053rem;
  border-bottom: 1px solid #c5c3c3;
}
.goods-price-box div {
  float: right;
  padding-right: 0.267rem;
}
.send-out {
  height: 1.04rem;
  line-height: 1.04rem;
  padding-right: 0.267rem;
}
.send-out div {
  display: inline-block;
  width: 2.053rem;
  height: 0.747rem;
  line-height: 0.747rem;
  margin-top: 0.147rem;
  border: 1px solid #ff7400;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  float: right;
}
