<div style="" class="layer_z">
  <div class="layer_a">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="site_sh">新增收货地址</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 ">
          <div class="site_sh">
            <p class="col-xs-4">收货人：</p>
            <input class="col-xs-8 site_input" type="text" placeholder="姓名">
          </div>
      
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="site_sh">
            <p class="col-xs-4">联系电话：</p>
            <input class="col-xs-8 site_input" type="text" placeholder="手机或固定电话">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="site_sh">
            <p class="col-xs-4">选择地区：</p>
            <input class="col-xs-8 site_input" type="text" placeholder="省市区">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="site_sh">
            <p class="col-xs-4">详细地址：</p>
            <input class="col-xs-8 site_input" type="text" placeholder="如：街道，楼层，门牌号等">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="site_row">
            <div class="site_bc">
              保存
            </div>
          </div>
      
        </div>
      </div>
  
    </div>
  </div>
  
</div>

